[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
pylint = "*"

[packages]
pywin32 = "==227"
Django = ">=2.2,<3"
djangorestframework = ">=3.10"
djangorestframework_simplejwt = "*"
drf-nested-routers = "*"

[requires]
python_version = "3.8"
