{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    <title>
        {% block title %}
        1C management web-based console
        {% endblock %}
    </title>

    {% block css %}
    {% endblock %}

</head>
<body>
<header>
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}
</header>

<div>
    {% block content %}
    {% endblock %}
</div>

<footer>
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
</footer>

{% block srcipts %}
{% endblock %}

</body>
</html>
